
body{
    
    background-image: url('./pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
    font-family: 'Bebas Neue';
}
form{
    background-image: url('./pictures/background2.jpg');
    background-size: cover;
    color: #ffffff;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    width: 250px;
    border-radius: 1px;
    box-shadow: 2px 2px 5px 0px #6e6969;
}
table{
    background-color: #ffffff;
    color: #635f5f;
    padding: 1px;
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px 0px #686464;
}
label{
    display: block;
    margin-top: 10px;
}
input{
    display: block;
    width: 200px;
    padding:.5em;
    margin: 0px auto;
    border: solid .05em #585656;
    border-radius: 5px;
}
input[type='Submit']{
    background-color: #686464;
    border: none;
    color: #ffeeee;  
    margin: 1em;
    padding: .5em;
    width: 220px;
}
input[type='Submit']:hover{
    background-color: #686464;
}
tr:nth-child(even){
    background-color: #686464;
    color: #b4adad;
}
td{
    border: none;
    margin: 0px;
    padding: .5em;
}
th{
    padding: .5em;
}

.btn{
    <style>
    background-color: #574e4e;
    color: #686464;
    padding: .3em;
    margin: .1em;
    border: 1px solid #686464;
</style>
}


.btn:hover{
    background-color: #686464;
    color: #b3acac;
}